body {
  background-color: #F2F1E4;
}

.container {
  width: 360px;
  margin: 0 auto;
  margin-top: 100px;
}

.title {
  text-align: center;
  /*margin-left: 10px;*/
  /* todo: make nicer font */
  font-family: Helvetica;
  font-size: 52px;
  margin-bottom: 20px;
}

.input-box {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  font-family: Helvetica;
  /*box-shadow: 0px 0px 20px 0px rgba(221,222,235,1);*/
  background-color: white;
}

.suggestion-box {
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  display: none;
}

.keypad {

}

a.number-key {
  display: inline-block;
  margin: 10px;
  height: 80px;
  width: 100px;
  /*border: 1px solid grey;*/
  border-radius: 5px;
  float: left;
  box-shadow: 0px 6px 0px rgba(80,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  background-color: #692907;
  color: #EBF5EC;
  text-align: center;
  font-family: Helvetica;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

a.number-key.active {
  box-shadow: 0px 2px 0px rgba(80,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}

.number-0 {
  margin-left: 130px !important;
}

.number {
  display: inline-block;
  /*margin-left: 40px;*/
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
}

span.letters {
  display: inline-block;
  margin-top: 5px;
  text-align: center;
  /*margin-left: 27px;*/
}



